button[data-playback-rate-button] {
  white-space: nowrap;
}

.media-control[data-media-control] .media-control-layer[data-controls] .playback_rate[data-playback-rate-select] {
  float: right;
  margin-top: 5px;
  position: relative;

  button.media-control-button.media-control-icon {
    font-family: Roboto,"Open Sans",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    cursor: pointer;
    padding-top: 10px;
    margin-right: 10px;

    &:hover {
      color: #c9c9c9;
    }

    &.changing {
      -webkit-animation: pulse 0.5s infinite alternate;
    }
  }

  &> ul.options-wrapper {
    display: none;
    list-style-type: none;
    position: absolute;
    bottom: 25px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.7);
    min-width: 150px;
  }

  &> div.custom-playbackrate-slide {
    display: none;
    position: absolute;
    bottom: 25px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.7);
    min-width: 150px;

    ul {
      list-style-type: none;
      position: relative;
      color: #aaa;
      width: 100%;
      height: 40px;

      .slideContainer {
        width: 100%;
      }

      #custom-playbackrate-field::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000;
        background: linear-gradient(90deg, rgb(117, 117, 117) 60%, rgb(117, 117, 117) 60%); //3071A9
        border-radius: 5px;
        border: 1px solid #000000;
      }

      #custom-playbackrate-field::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        // box-shadow: 1px 1px 1px #000000;
        // border: 1px solid #000000;
        height: 30px;
        width: 15px;
        // border-radius: 5px;
        background: #FFFFFF !important;
        cursor: pointer;
        // -webkit-appearance: none;
        margin-top: -6px;
      }
    }
  }

  li.custom-option {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    height: 25px;
    padding: none !important;

    &:hover {
      cursor: pointer;
      color: #fff;
      text-decoration: none;
    }
  }

  li.custom-playback-rate {
    display: none;
  }

  li {
    position:relative;
    font-size: 12px;

    &[data-title] {
      padding: 5px;
    }

    a {
      color: #aaa;
      padding: 2px 10px 2px 15px;
      display: block;
      text-decoration: none;
      text-align: left;
      margin-left: 10px;
  
      &.active {
        background-color: rgba(0,0,0,1.0);
        font-weight: bold;
        color: #fff;
        &:before {
            content: '\2713';
            position: absolute;
            top:2px;
            left:4px;
        }
      }
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }

  }
}

@-webkit-keyframes pulse {
  0% {color: #fff;}
  50% {color: #ff0101}
  100% {color: #B80000;}
}
