button[data-playback-rate-button] {
  white-space: nowrap;
}

.media-control[data-media-control] 
.media-control-layer[data-controls] 
.playback_rate[data-playback-rate-select] {
  float: right;
  margin-top: 5px;
  position: relative;

  button.media-control-button.media-control-icon {
    font-family: Roboto,"Open Sans",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    cursor: pointer;
    padding-top: 10px;
    margin-right: 10px;

    &:hover {
      color: #c9c9c9;
    }

    &.changing {
      -webkit-animation: pulse 0.5s infinite alternate;
    }
  }

  &> ul.options-wrapper {
    display: none;
    list-style-type: none;
    position: absolute;
    bottom: 25px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.7);
    min-width: 150px;
  }

  &> div.custom-playbackrate-slide {
    display: none;
    position: absolute;
    bottom: 25px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.7);
    min-width: 150px;

    .back-icon {
      position: absolute;
      left: 9px;
      cursor: pointer;
    }

    .back-icon:hover {
      color: #ffffff;
    }

    ul {
      list-style-type: none;
      position: relative;
      color: #aaa;
      width: 100%;
      height: 40px;

      .slideContainer {
        width: 100%;
        background: transparent;
        border-radius: 5px;
      }

      li input[type=range] {
        -webkit-appearance: none;
        border-radius: 5px;
      }

      li input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000;
        background: transparent;
        border-radius: 5px;
        border: 1px solid #000000;
      }

      li input[type=range]::-webkit-slider-thumb {
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3px;
      }

      li input[type=range]::-moz-range-thumb {
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background: #ffffff;
        cursor: pointer;
      }

      li input[type=range]::-ms-thumb {
        margin-top: 1px;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background: #ffffff;
        cursor: pointer;
      }
    }
  }

  li.custom-option {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    height: 25px;
    padding: none !important;

    &:hover {
      cursor: pointer;
      color: #fff;
      text-decoration: none;
    }
  }

  li.custom-playback-rate {
    display: none;
  }

  li {
    position:relative;
    font-size: 12px;

    &[data-title] {
      padding: 5px;
    }

    a {
      color: #aaa;
      padding: 2px 10px 2px 15px;
      display: block;
      text-decoration: none;
      text-align: left;
      margin-left: 10px;
  
      &.active {
        background-color: rgba(0,0,0,1.0);
        font-weight: bold;
        color: #fff;
        &:before {
            content: '\2713';
            position: absolute;
            top:2px;
            left:4px;
        }
      }
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }

  }
}

@-webkit-keyframes pulse {
  0% {color: #fff;}
  50% {color: #ff0101}
  100% {color: #B80000;}
}
